body {
    position:relative;
    background: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* google font later (roboto)*/
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #222;
}


a:hover, :active, :focus, :visited {
   text-decoration: none;
   color: #222;

}

p {
    font-size: 10px;
}

.header {
    height: 150px;
    background: #cf423f;
    box-shadow: 0px 2px 15px #888888;

}

.brand {
    line-height: 1.5;
    margin: 20px 40px 0;
}

.brand a{
    font-size: 4em;
}
.brand a, strong {
        color: white;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.tile-list {
    display: flex;
    flex-wrap: wrap;
}

.tile-list__item {
    position: relative;
    height: 18em;
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    box-shadow: 0px 0px 2px #888888;
    transition: box-shadow 0.5s ease-out;
    text-align: center;
    background-color: #fafafa;
    color: #fff;
    

}
.tile-list__item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
}

.tile-list__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 20px;
    display:flex;
    flex-wrap: wrap;
    text-align: right;

}

.tile-list__footer-text {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 12px;
    color: #222;
    text-align: center;
}



.title {
    font-size: 1.5em;
    text-align: left;
    transition: color 0.5s ease-out;
    color: #222;
    padding: 10px 5px;

}
.title:hover {
    color: #000;
}

.footer {
    position: absolute;
    display: flex;
    right: 0;
    left: 0;

    margin-top: 75px;
    width: 100%;
}

.footer-boxes {
    display:flex;
    flex-direction: column;
    vertical-align: center;
    width: 33.333%;
    text-align: center;
}

